* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    height: 90%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container .divider {
    width: 100%;
    border-radius: 50%;
}

h1 {
    font-size: 48px;
    margin-top: 10px;
    /*color: #333;*/
    color: goldenrod;
    font-family: cursive;
    font-style: italic;
}

p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-top: 15px;
}

.content {
    margin-bottom: auto;
}

footer {
    color: darkgreen;
    font-family: monospace;
}

a  {
    color: #666;
    text-decoration: none;
}


a:hover {
    color: black;
}

#map {
    height: 200%;
    width: 100%;
}
