* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    opacity: 0.90;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2b2d30;
    }
}

.container {
    width: 90%;
    height: 90%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    .container {
        background-color: #1f2023;
    }
}


.container .divider {
    width: 100%;
    border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
    .divider {
        filter: brightness(30000%);
    }
}


h1 {
    font-size: 48px;
    margin-top: 10px;
    color: goldenrod;
    font-family: cursive;
    font-style: italic;
}

@media (prefers-color-scheme: dark) {
    h1 {
        color: darkgrey;
    }
}

p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-top: 15px;
}

@media (prefers-color-scheme: dark) {
    p {
        color: whitesmoke;
    }
}

.content {
    margin-bottom: auto;
    height: 100%;
    overflow: scroll;
}

footer {
    color: darkgreen;
    font-family: monospace;
}

@media (prefers-color-scheme: dark) {
    footer {
        color: goldenrod;
    }
}

a {
    color: #666;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    a {
        color: whitesmoke;
    }
}


a:hover {
    color: black;
}

@media (prefers-color-scheme: dark) {
    a:hover {
        color: darkgray;
    }
}

#map {
    height: 85%;
}

.background {
    background-image: url(DSC_5896.jpeg);
    background-repeat: no-repeat;
    background-size: 150% 150%;
    backdrop-filter: blur(4px);
    background-position: 100% 20%;
}

@media (prefers-color-scheme: dark) {
    .background {
        backdrop-filter: blur(4px) brightness(75%);
    }
}
